*
!*.yaml
!scenes
!packages
!automations
!script
!floorplan
!*.svg
!*.css
!custom_components
!input_boolean
!.gitignore
!panels
!scenes
secrets.yaml
known_devices.yaml
google_calendars.yaml
zones.yaml
ip_bans.yaml
!www/custom_ui/floorplan/*
!python_scripts
!*.md

